html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Third party plugins support */
.tp_recent_tweets li {
  background: none !important;
  padding-left: 0 !important; }

.tp_recent_tweets li a {
  color: #f94213 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  font-style: normal !important; }

.teal .tp_recent_tweets li a {
  color: #28c2ba !important; }

.orange .tp_recent_tweets li a {
  color: #e25d33 !important; }

.cyan .tp_recent_tweets li a {
  color: #02accf !important; }

.tp_recent_tweets li a:hover {
  color: #55585b !important; }

.site-footer .tp_recent_tweets li a:hover {
  color: #e5e5e5 !important; }

.tp_recent_tweets li .twitter_time {
  padding: 15px 0 5px 45px;
  display: inline-block;
  background: url(../images/icons/twitter-bird-sidebar.png) no-repeat 0 14px transparent; }

.site-footer .tp_recent_tweets li .twitter_time {
  background-image: url(../images/icons/twitter-bird.png); }

/* Brankic Photostream styling */
.photostream ul li {
  margin: 0 0 5px 5px !important;
  padding: 0 0 5px 5px !important;
  background: none !important;
  border: none !important; }

.photostream img, .photostream a {
  width: 66px !important;
  height: 66px !important; }

.photostream img {
  opacity: 1 !important; }

.photostream a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.site-footer .photostream a {
  border-color: #666 !important; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .tp_recent_tweets li .twitter_time {
    background-image: url(../images/icons/twitter-bird-sidebar@2x.png);
    background-size: 32px 24px; }

  .site-footer .tp_recent_tweets li .twitter_time {
    background-image: url(../images/icons/twitter-bird@2x.png);
    background-size: 32px 24px; } }
/* ------------------- WP Instagram Widget Styling ------------ */
.widget .instagram-pics li {
  width: 31.3%;
  margin-right: 2%;
  display: inline-block;
  padding: 0;
  border: none; }

.widget .instagram-pics img:hover {
  background-color: #f4f4f4;
  border: 4px solid #f94213;
  opacity: 0.8; }

.widget .instagram-pics img {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* ----- Revolution Slider -------- */
.button.transparent {
  background: rgba(255, 255, 255, 0);
  border: 2px solid #ddd;
  text-shadow: none; }

.button.transparent:hover {
  background: rgba(255, 255, 255, 0.1) !important;
  border-color: #f2f2f2 !important; }

/* ================= Mailchimp Plugin =================== */
.mc4wp-form {
  text-align: center; }
  .mc4wp-form input[type=email] {
    display: inline-block;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 50%;
    padding: 15px 12px; }
  .mc4wp-form input[type=submit] {
    margin: 0 0 0 30px; }
  @media only screen and (max-width: 600px) {
    .mc4wp-form input[type=email] {
      display: block;
      width: 100%;
      margin: 0 auto; }
    .mc4wp-form input[type=submit] {
      margin: 30px auto 0; } }

/*========================= Livemesh SiteOrigin Widgets =============================== */
.lsow-tabs .lsow-tab-nav .lsow-tab span.lsow-tab-title,
.lsow-accordion .lsow-panel .lsow-panel-title,
input.lsow-button, button.lsow-button, a.lsow-button,
.lsow-heading .lsow-subtitle,
.lsow-piechart .lsow-percentage,
.lsow-pricing-table .lsow-plan-details .lsow-pricing-item .lsow-value {
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

.lsow-heading .lsow-text {
  font-size: 16px;
  line-height: 26px; }

.lsow-portfolio-wrap .lsow-portfolio .lsow-portfolio-item .lsow-entry-meta span,
.lsow-posts-carousel .lsow-posts-carousel-item .lsow-entry-text-wrap .lsow-entry-meta span {
  font-size: 14px; }

.lsow-piechart .lsow-percentage span {
  font-weight: 400; }

/* =========================================== WooCommerce Plugin =================================================== */
.woocommerce-site #masthead .site-header-cart {
  float: left;
  margin: 0;
  padding: 0;
  position: relative; }
  .woocommerce-site #masthead .site-header-cart > li {
    list-style: none;
    margin: 0; }
  @media only screen and (max-width: 767px) {
    .woocommerce-site #masthead .site-header-cart {
      position: absolute;
      top: 10px;
      right: 0; } }
  .woocommerce-site #masthead .site-header-cart a.cart-contents {
    line-height: 100px;
    color: #ced1da;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
    .woocommerce-site #masthead .site-header-cart a.cart-contents:hover {
      color: white; }
    .woocommerce-site #masthead .site-header-cart a.cart-contents span.amount {
      margin-left: 5px; }
    .woocommerce-site #masthead .site-header-cart a.cart-contents span.count {
      margin-left: 10px; }
    @media only screen and (max-width: 767px) {
      .woocommerce-site #masthead .site-header-cart a.cart-contents {
        line-height: 16px; } }
    .woocommerce-site #masthead .site-header-cart a.cart-contents:before {
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\f290';
      font-size: 16px;
      color: #949bae;
      display: inline-block;
      vertical-align: middle; }
    @media only screen and (max-width: 767px) {
      .woocommerce-site #masthead .site-header-cart a.cart-contents span.amount, .woocommerce-site #masthead .site-header-cart a.cart-contents span.count {
        display: none; } }
  .woocommerce-site #masthead .site-header-cart .widget_shopping_cart {
    position: absolute;
    right: 0;
    display: none;
    background: #333743;
    width: 225px;
    padding: 20px 25px;
    margin: 0; }
    .woocommerce-site #masthead .site-header-cart .widget_shopping_cart .cart_list li {
      padding-left: 25px;
      margin: 5px 0;
      color: #ced1da; }
      .woocommerce-site #masthead .site-header-cart .widget_shopping_cart .cart_list li.empty {
        padding-left: 0;
        margin: 0; }
    .woocommerce-site #masthead .site-header-cart .widget_shopping_cart .mini_cart_item img {
      padding-top: 5px;
      width: 32px; }
    .woocommerce-site #masthead .site-header-cart .widget_shopping_cart .mini_cart_item span.quantity {
      color: #999; }
    .woocommerce-site #masthead .site-header-cart .widget_shopping_cart .mini_cart_item a.remove {
      color: #777 !important; }
      .woocommerce-site #masthead .site-header-cart .widget_shopping_cart .mini_cart_item a.remove:hover {
        background: none !important;
        color: #bbb !important; }
    .woocommerce-site #masthead .site-header-cart .widget_shopping_cart .mini_cart_item a {
      color: #ddd;
      font-size: 14px;
      line-height: 22px; }
      .woocommerce-site #masthead .site-header-cart .widget_shopping_cart .mini_cart_item a:hover {
        color: #fff; }
    .woocommerce-site #masthead .site-header-cart .widget_shopping_cart .total {
      color: #999;
      border-top: 2px solid #555;
      padding: 10px 0 0;
      margin: 10px 0 10px;
      font-size: 14px;
      line-height: 22px; }
      .woocommerce-site #masthead .site-header-cart .widget_shopping_cart .total strong {
        color: #ccc;
        margin-right: 5px; }
    .woocommerce-site #masthead .site-header-cart .widget_shopping_cart .buttons {
      margin: 0; }
      .woocommerce-site #masthead .site-header-cart .widget_shopping_cart .buttons .button {
        width: 100%;
        margin: 5px 0;
        background: #f94213;
        color: #fff; }
        .woocommerce-site #masthead .site-header-cart .widget_shopping_cart .buttons .button:hover {
          background: #999; }
  @media only screen and (min-width: 768px) {
    .woocommerce-site #masthead .site-header-cart:hover .widget_shopping_cart {
      display: block; } }

.woocommerce-site #masthead.sticky .site-header-cart a.cart-contents {
  line-height: 60px; }

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #666;
  padding: 10px 16px;
  font-weight: 400; }

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background-color: #f94213;
  border: none;
  color: #fff;
  border-radius: 0;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 400; }
  .woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
    color: #fff; }

.woocommerce span.onsale {
  z-index: 2;
  background-color: #f94213;
  color: #fff;
  padding: 6px 15px;
  border-radius: 0;
  font-size: 14px;
  line-height: 22px;
  min-height: auto;
  min-width: auto;
  margin: 0;
  top: 0;
  left: 0;
  text-transform: uppercase;
  letter-spacing: 1px; }

.woocommerce ul.products li.product-category h3 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
  color: #333;
  font-weight: 700; }
  .woocommerce ul.products li.product-category h3:hover {
    color: #888; }
  .woocommerce ul.products li.product-category h3 .count {
    font-size: 14px;
    line-height: 22px;
    background-color: transparent;
    color: #888;
    font-style: normal; }
.woocommerce ul.products li.product .image-area {
  margin-bottom: 20px; }
  .woocommerce ul.products li.product .image-area a img {
    margin: 0; }
.woocommerce ul.products li.product .entry-info h3 {
  font-size: 16px;
  line-height: 24px; }
.woocommerce ul.products li.product h3.entry-title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px; }
  .woocommerce ul.products li.product h3.entry-title a {
    color: #333;
    font-weight: 700; }
    .woocommerce ul.products li.product h3.entry-title a:hover {
      color: #888; }
.woocommerce ul.products li.product .onsale {
  right: 0;
  left: auto;
  top: 0;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  padding: 4px 12px; }
.woocommerce ul.products li.product .star-rating {
  margin-bottom: 10px; }
.woocommerce ul.products li.product .price, .woocommerce ul.products li.product .price ins, .woocommerce ul.products li.product .price del {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #aaa; }
.woocommerce ul.products li.product .price del {
  color: #bbb;
  display: inline;
  margin-right: 5px; }

.woocommerce ul.products li.product {
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .woocommerce ul.products li.product {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .woocommerce ul.products li.product:last-child {
        margin-right: 0; } }
  .woocommerce ul.products li.product.last {
    margin-right: 0; }
  .woocommerce ul.products li.product .star-rating {
    margin: 0 auto 10px; }

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: #f94213; }

.woocommerce div.product .product_title {
  font-size: 36px;
  line-height: 44px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px; }

.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #999; }

.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
  color: #777; }

.woocommerce #reviews #comments h2, .woocommerce #reviews h3, .woocommerce-tabs .panel h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-top: 10px; }

.woocommerce-tabs .panel #comments {
  padding-top: 0; }

.woocommerce .related.products h2, .woocommerce .upsells.products h2 {
  font-size: 32px;
  line-height: 44px;
  margin: 40px 0 20px;
  font-weight: 700; }

.woocommerce #reviews #comments ol.commentlist li {
  margin-bottom: 40px; }
  .woocommerce #reviews #comments ol.commentlist li:first-child {
    margin-top: 20px; }
  .woocommerce #reviews #comments ol.commentlist li img.avatar {
    border: none;
    padding: 0;
    width: 48px;
    border-radius: 50%; }
  .woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin-left: 70px;
    border-radius: 0;
    background-color: #fafafa;
    position: relative; }
    .woocommerce #reviews #comments ol.commentlist li .comment-text:after, .woocommerce #reviews #comments ol.commentlist li .comment-text:before {
      right: 100%;
      top: 20%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .woocommerce #reviews #comments ol.commentlist li .comment-text:after {
      border-right-color: #fafafa;
      border-width: 11px; }
    .woocommerce #reviews #comments ol.commentlist li .comment-text:before {
      border-right-color: #e4e1e3;
      border-width: 12px;
      margin-top: -1px; }
    .woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
      font-style: italic; }
      .woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong {
        color: #555;
        font-style: normal; }

.woocommerce #review_form #respond p {
  margin: 0 20px 10px 0; }
.woocommerce #review_form #respond .form-submit input {
  padding: 10px 20px; }

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border-radius: 0;
  background-color: #eee;
  padding: 0 20px; }
  .woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-weight: 400; }
  .woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before {
    display: none; }

.woocommerce div.product form.cart .button {
  padding: 12px 20px;
  margin-left: 15px; }
.woocommerce div.product form.cart .variations tr {
  background-color: transparent; }

.woocommerce #content div.product div.thumbnails a img, .woocommerce div.product div.thumbnails a img, .woocommerce-page #content div.product div.thumbnails a img, .woocommerce-page div.product div.thumbnails a img {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s; }
  .woocommerce #content div.product div.thumbnails a img:hover, .woocommerce div.product div.thumbnails a img:hover, .woocommerce-page #content div.product div.thumbnails a img:hover, .woocommerce-page div.product div.thumbnails a img:hover {
    opacity: 0.8; }

.woocommerce table.shop_attributes td {
  padding: 8px; }
.woocommerce table.shop_attributes td p {
  padding: 0; }

.woocommerce table.shop_attributes {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.woocommerce .woocommerce-message, .woocommerce .woocommerce-info {
  border-top-color: #f94213; }

.woocommerce .woocommerce-message:before, .woocommerce .woocommerce-info:before {
  color: #999; }

.woocommerce .woocommerce-error li, .woocommerce .woocommerce-info li, .woocommerce .woocommerce-message li {
  margin: 0; }

.woocommerce table.shop_table {
  border-collapse: collapse; }

.woocommerce td.product-name dl.variation dd {
  margin: 0 0 0 24px; }

.woocommerce .cart-collaterals .cart_totals h2, .woocommerce-page .cart-collaterals .cart_totals h2,
.woocommerce .cart-collaterals .cross-sells h2, .woocommerce-page .cart-collaterals .cross-sells h2 {
  font-size: 24px;
  line-height: 32px;
  margin: 20px 0;
  font-weight: 700; }

.woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce-cart .cart-collaterals .cart_totals table th {
  padding: 8px 12px; }

.woocommerce-checkout #payment {
  background: transparent;
  border-radius: 0;
  border: 1px solid #ddd; }

.woocommerce-checkout #payment div.payment_box {
  background-color: #eee;
  padding: 15px; }
  .woocommerce-checkout #payment div.payment_box:before {
    border-bottom-color: #eee; }

/* Woocommerce Widgets */
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #666; }
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
  background-color: #888; }
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: #ccc; }
.woocommerce .widget_price_filter .price_slider_amount .price_label, .woocommerce-page .widget_price_filter .price_slider_amount .price_label {
  display: inline-block;
  text-align: right; }

.woocommerce .widget_product_categories ul.product-categories > li > a, .woocommerce-page .widget_product_categories ul.product-categories > li > a {
  font-size: 18px;
  line-height: 28px; }
.woocommerce .widget_product_categories ul.product-categories ul.children, .woocommerce-page .widget_product_categories ul.product-categories ul.children {
  padding: 5px; }
  .woocommerce .widget_product_categories ul.product-categories ul.children a:before, .woocommerce-page .widget_product_categories ul.product-categories ul.children a:before {
    position: relative;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #888;
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
    content: "\e845";
    margin-right: 5px; }

.woocommerce ul.product_list_widget li, .woocommerce-page ul.product_list_widget li {
  margin-bottom: 15px; }
  .woocommerce ul.product_list_widget li.empty, .woocommerce-page ul.product_list_widget li.empty {
    padding-left: 0; }
  .woocommerce ul.product_list_widget li img, .woocommerce-page ul.product_list_widget li img {
    width: 64px; }
  .woocommerce ul.product_list_widget li .star-rating, .woocommerce-page ul.product_list_widget li .star-rating {
    color: #f94213;
    margin-top: 10px; }
  .woocommerce ul.product_list_widget li span.product-title, .woocommerce-page ul.product_list_widget li span.product-title {
    font-size: 15px;
    line-height: 22px; }
  .woocommerce ul.product_list_widget li del, .woocommerce ul.product_list_widget li ins, .woocommerce-page ul.product_list_widget li del, .woocommerce-page ul.product_list_widget li ins {
    background-color: transparent; }
  .woocommerce ul.product_list_widget li span.amount, .woocommerce-page ul.product_list_widget li span.amount {
    color: #aaa;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700; }
  .woocommerce ul.product_list_widget li span.reviewer, .woocommerce-page ul.product_list_widget li span.reviewer {
    font-style: italic;
    color: #999; }

.woocommerce .widget_product_search, .woocommerce-page .widget_product_search {
  position: relative; }
  .woocommerce .widget_product_search form.woocommerce-product-search input[type=search], .woocommerce-page .widget_product_search form.woocommerce-product-search input[type=search] {
    width: 100%;
    float: left;
    padding: 8px 10px; }
  .woocommerce .widget_product_search form.woocommerce-product-search input[type=submit], .woocommerce-page .widget_product_search form.woocommerce-product-search input[type=submit] {
    border: none;
    cursor: pointer;
    color: #fff;
    float: right;
    width: 42px;
    height: 42px;
    display: inline;
    padding: 0;
    right: 0;
    border: none;
    position: absolute;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    text-indent: -9999px;
    background: url(../images/icons/search.png) no-repeat center #f94213;
    background-size: 18px; }

.woocommerce a.added_to_cart {
  vertical-align: middle;
  margin-left: 5px; }

.woocommerce-cart #content table.cart td.actions .coupon .input-text {
  padding: 10px;
  width: 110px;
  margin-right: 10px; }
.woocommerce-cart #content table.cart td.product-name {
  font-weight: 700; }
  .woocommerce-cart #content table.cart td.product-name a {
    color: #333; }
    .woocommerce-cart #content table.cart td.product-name a:hover {
      color: #888; }

.woocommerce #content table.cart img, .woocommerce table.cart img, .woocommerce-page #content table.cart img, .woocommerce-page table.cart img {
  width: 90px;
  margin: 0 auto; }

.woocommerce-cart .cart-collaterals .cart_totals table {
  border: 1px solid rgba(0, 0, 0, 0.1); }

.woocommerce a.remove {
  color: #aaa !important;
  text-align: center;
  margin: 0 auto; }
  .woocommerce a.remove:hover {
    background-color: #666 !important; }

.sidebar .widget-woocommerce li:hover > a {
  color: #888; }

/* WooCommerce pagination */
.woocommerce nav.woocommerce-pagination ul {
  border: none; }

.woocommerce nav.woocommerce-pagination ul li {
  margin: 0 4px;
  border: 1px solid #ddd; }

.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
  color: inherit;
  padding: 8px 12px; }

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
  color: #444; }

/* Woo Tickets Plugin */
table.tribe-events-tickets td {
  padding: 8px 10px 8px 15px; }

.tribe-events-style-full table.tribe-events-tickets td.woocommerce.add-to-cart {
  border-bottom: 1px solid #ddd; }

table.tribe-events-tickets .tickets_price {
  color: #444;
  font-style: normal; }

table.tribe-events-tickets td.tickets_name {
  font-size: 16px;
  color: #555; }

table.tribe-events-tickets td.tickets_description {
  font-style: italic;
  color: #777;
  font-size: 15px;
  line-height: 24px; }


